<html>
<head>회원가입 화면</head>
<body>
  <form method="POST"></form>
    <label for="memberid">아이디</label>
    <input type="text" id="memberid" name="memberid">
    <br>
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="email">이메일</label>
    <input type="email" id="email" name="email">
    <br>
    <label for="name">이름</label>
    <input type="text" id="name" name="name">
    <br>
    <input type="submit" value="회원가입">
  </form>
</body>
</html>